@model Eventizo.Models.Product
@using Microsoft.AspNetCore.Mvc.Rendering
@{
    ViewData["Title"] = "Chỉnh sửa sản phẩm";
}
<h2>CHỈNH SỬA SẢN PHẨM</h2>
<form asp-action="Update" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label asp-for="Name">Tên sản phẩm</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Price">Giá sản phẩm</label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>


    <div class="form-group">
        <label asp-for="PriceReduced">Giá giảm (nếu có)</label>
        <input asp-for="PriceReduced" class="form-control" />
        <span asp-validation-for="PriceReduced" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Quantity">Số lượng tồn</label>
        <input asp-for="Quantity" class="form-control" />
        <span asp-validation-for="Quantity" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description">Mô tả sản phẩm</label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CategoryId">Loại sản phẩm</label>
        <select asp-for="CategoryId" asp-items="@ViewBag.Categories"
                class="form-control"></select>
    </div>

    <div class="form-group">
        <label for="imageInput">Ảnh sản phẩm</label>
        <input type="file" name="imageUrl" class="form-control" id="imageInput" />
    </div>
    <button type="submit" value="Save" class="btn btn-primary">Update</button>
</form>

<div class="col-8">
    <img src="@Model.ImageUrl" alt="Ảnh sản phẩm" style="max-width:200px;" id="previewImage" />
</div>
<script>
    document.querySelectorAll('input[type="file"]').forEach(input => {
    input.addEventListener('change', function (event) {
    const file = event.target.files[0];
    if (file) {
    const reader = new FileReader();
    reader.onload = function (e) {
    const img = document.getElementById("previewImage")
    img.src = e.target.result
    };
    reader.readAsDataURL(file);
    }
    });
    });
</script>